#div-image{
  height: 500px;
  background-image: url("https://i.imgur.com/7xLoBJF.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
  background-position: top;
  image-rendering: -webkit-optimize-contrast;
  opacity: 0.9;
}

#section_2{
  height: 10px;
}

#overlay{
  width: 100%;
  height: 4000px;
  background-color: black;
  z-index: 9999;
  position: absolute;
  align-content: center;
}

#overlay_content{
  color: #4B9CD3;
  width: 600px;
  margin-top: 300px;
  text-align: center;
  font-family: 'Lucida Console';
  border: 1px dashed white;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

#blink{
  animation: blinker 1.5s linear infinite;
  margin-top: -10px;
}

#blink:hover{
  -webkit-animation: 0;
}

@keyframes blinker {  
  40% { opacity: .25;}
  75% {opacity: 1;}
}

#navigation{
  background-color: #13294B;
}

#icon_small{
  width: 40px;
  height: 40px;
  margin-top: 0px;
}

#icon_over{
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  margin-top: 0px;
}

#logo{
  width: 50%;
}

#img1{
  width: 100%;
}

h3 {
  position: absolute;
  bottom: 8px;
  left: 32px;

  font-size: 0px;
  line-height: 0%;
  width: 0px;
}

#test {
  position: relative;
}

.triangle {
  /*width:0;
  border-bottom:120px solid red;
  border-left:60px solid white;
  border-right:60px solid white;
  */
  width: 0;
  height: 0;
  border-style: inset;
  border-width: 0 97vw 22vw 1px;
  border-color: transparent transparent #007bff transparent;
  float: left;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  position: absolute;
  bottom: 8px;

}

.triangle h3 {
  text-align: center;
  top: 80px;
  left: -47px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}